{% extends 'home/base.html' %}
{% block title %}Home{% endblock %}

{% block body %}
<!--suppress ALL -->
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active vertical-align hero-image"
             style="background-image: url('/static/home/images/background_home_1.jpeg');">
            <div class="hero-text vertical-align">
                <div class="wow slideInUp" >
                    <h1 style="color: white;font-size:50px;">
                        Welcome To SPTBI
                    </h1><br><br>
                    <button class="btn btn-lg" style="background-color: #ff0066;color: white;">
                        Get Started
                    </button>
                </div>
            </div>
        </div>
        <div class="carousel-item vertical-align hero-image"
            style="background-image: url('https://images.pexels.com/photos/1059122/pexels-photo-1059122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
            <div class="hero-text vertical-align">
                <div class="wow slideInUp" >
                    <h1 style="color: white;font-size:50px;">
                        Welcome To SPTBI
                    </h1><br><br>
                    <button class="btn btn-lg" style="background-color: #ff0066;color: white;">
                        Get Started
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
</style>
<script>
    new WOW().init();
</script>
{% endblock %}