{% extends 'home/base.html' %}
{% block title %}Home{% endblock %}

{% block body %}
<div class="hero-image">
    <div class="hero-text">
        <h1 style="font-size:50px"><b>Welcome to SP TBI</b></h1>
        <h3>Job Internship Portal</h3><br><br>
        <button class="btn btn-light btn-lg" onclick="location.href='{% url 'apply:index' %}'" style="margin:20px;">
            <i class="material-icons md-48"> work</i> I want to Work
        </button>


        <button class="btn btn-outline-light btn-lg" onclick="location.href='{% url 'hire:login_user' %}'"
                style="margin:20px;">
            <i class="material-icons md-48">assignment_turned_in</i> I want to Hire
        </button>
    </div>
</div>
{% endblock %}