{% extends 'home/base.html' %}
{% block title %}{% if error_message %}Failed{% else %}Success{% endif %}{% endblock %}


{% block body %}

<div class="container vertical-align">

    <center>
        {% if error_message %}
        <h3><span class="text-danger">{{ error_message }}</span></h3>
        {% else %}
        <h3 class="text-success ">
            <span>Your SPTBI Account Password has been successfully changed. You can now Log In with your new password.</span>
        </h3>

        {% endif %}
    </center>

</div>


{% endblock %}