{% extends 'home/base.html' %}
{% block title %}{{ job.job_title }}{% endblock %}

{% block body %}

<div class="container">

    <div class="row">
        <div class="col-lg-12">

            <div class="card mt-4">

                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="table-cell">
                            <h4><strong>{{ job.job_title }}</strong>
                            </h4>
                            <h6>{{ job.company.name }}</h6>
                        </div>
                        <table class="table no-border">
                            <tbody>
                            <tr>
                                <th>Category:</th>
                                <td>
                                    {% for category in categories %}
                                    <span class="badge badge-secondary">{{ category.job_category }}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Type:</th>
                                <td>{{ job.job_type }}</td>
                            </tr>
                            <tr>
                                <th>Salary:</th>
                                <td>{{ job.salary }}</td>
                            </tr>
                            <tr>
                                <th>Intake:</th>
                                <td>{{ job.intake }}</td>
                            </tr>
                            <tr>
                                <th>Duration:</th>
                                <td>{{ job.duration }}</td>
                            </tr>
                            </tbody>
                        </table>

                    </li>
                </ul>

            </div>
            <div class="card mt-4">
                <ul class="list-group">
                    <li class="list-group-item ">
                        <h4><strong>About {{ job.company.name }}:</strong></h4>
                        <p>{{ job.company.description }}</p>
                        <h5><strong>About the Internship:</strong></h5>
                        <p>{{ job.description }}</p>
                        <h5><strong>Other Requirements:</strong></h5>
                        <p>{{ job.other_requirements }}</p>
                        <h5><strong>Perks:</strong></h5>
                        <p>{{ job.perks }}</p>

                    </li>
                </ul>

            </div>
        </div>

    </div>
    <center>
        <!-- Button trigger modal -->
        {% if isStudent %}
            {% if hasApplied %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                        style="width:100px;margin:20px;" disabled>
                    Apply
                </button>
                <p>You have already applied here. </p>
            {% else %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                        style="width:100px;margin:20px;">
                    Apply
                </button>
            {% endif %}
        {% else %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                    style="width:100px;margin:20px;" disabled>
                Apply
            </button>
            <p>You need to be a registered applicant to apply. Click here to <a href="{% url 'apply:login_user' %}?next={{ request.path|urlencode }}">login</a> </p>
        {% endif %}
    </center>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span>By applying you send your details like email, phone number and resume to {{ job.company.name }}. Do you wish to proceed?</span>
                </div>
                <div class="modal-footer">
                    <form id="applyForm" class="form-horizontal" role="form" action="" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Yes</button>
                    </form>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}