{% extends 'home/base.html' %}
{% block title %}Internships{% endblock %}

{% block body %}
<div class="container">

    <div class="row">
        <div class="col-lg-9 mx-auto col-xs-12 col-sm-12">
            <div class="card mt-4">
                <ul class="list-group">
                    {% for job in jobs %}
                    <li class="list-group-item inline">
                        <div class="table-cell">
                            <h4><strong><a href="{% url 'apply:detail' pk=job.id %}">{{ job.job_title }}</a></strong></h4>
                            <h6><a href="#">{{ job.company.name }}</a> </h6>
                        </div>

                        <table class="table no-border">
                            <tbody>
                            <tr>
                                <th>Category:</th>
                                <td>{{ job.job_category }}</td>
                            </tr>
                            <tr>
                                <th>Type:</th>
                                <td>{{ job.job_type }}</td>
                            </tr>
                            <tr>
                                <th>Salary:</th>
                                <td>{{ job.salary }}</td>
                            </tr>
                            <tr>
                                <th>Intake:</th>
                                <td>{{ job.intake }}</td>
                            </tr>
                            <tr>
                                <th>Duration:</th>
                                <td>{{ job.duration }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <div id="middle" style="float:right;">
                            <a class="btn btn-primary" href="{% url 'apply:detail' pk=job.id %}">View</a>
                        </div>

                    </li>
                    {% endfor here %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}