<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Internships</title>

    <link rel="stylesheet" type="text/css" href="{% static 'apply/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/tagsinput.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="{% static 'home/tagsinput.js' %}" type="text/javascript"></script>

</head>
<body>
{% load widget_tweaks %}
<div class="container">

    <div class="row">
        <div class="col-lg-8 mx-auto col-xs-12 col-sm-12">
            <a style="color: #000000;text-decoration:none;" data-toggle="collapse" href="#collapseExample" role="button"
               aria-expanded="false"
               aria-controls="collapseExample">
                <div class="card mt-4" style="padding: 10px;">
                    <h4>Filters<span style="float: right;"><strong>&#8628;</strong></span></h4>
                </div>
            </a>
        </div>
    </div>
    <div class="collapse" id="collapseExample">
        <div class="card card-body  bg-secondary">
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="category" class="control-label" style="color:white;">Job Category:</label>
                    <input {% if job_category %} value="{{ job_category }}" {% endif %} id="category" name="category" class="form-control" data-role="tagsinput" >
                </div>
                <div class="form-group">
                    <label class="control-label" style="color:white;">Job Type:</label>
                    {% render_field filters.form.job_type class="form-control" %}
                </div>
                <div class="form-group">
                    <label class="control-label" style="color:white;">Intake:</label>
                    {% render_field filters.form.intake class="form-control" %}
                </div>
                <div class="form-group">
                    <label class="control-label" style="color:white;">Duration:</label>
                    {% render_field filters.form.duration class="form-control" %}
                </div>
                <button type="submit" class="btn btn-primary" style="float: right;">
                    <span>Filter</span>
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto col-xs-12 col-sm-12">
            <div class="card mt-4">
                <ul class="list-group">
                    {% for job in filters.qs %}
                    <li class="list-group-item inline">
                        <div class="table-cell">
                            <h4><strong><a href="{% url 'apply:detail' pk=job.id %}">{{ job.job_title }}</a></strong>
                            </h4>
                            <h6><a href="#">{{ job.company.name }}</a></h6>
                        </div>

                        <table class="table no-border">
                            <tbody>
                            <tr>
                                <th>Category:</th>
                                <td>
                                    {% for category in categories %}
                                    {% for post in category.job_post.all %}
                                    {% if post.id == job.id %}
                                    <span class="badge badge-secondary">{{ category.job_category }}</span>
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Type:</th>
                                <td>{{ job.job_type }}</td>
                            </tr>
                            <tr>
                                <th>Salary:</th>
                                <td>{{ job.salary }}</td>
                            </tr>
                            <tr>
                                <th>Intake:</th>
                                <td>{{ job.intake }}</td>
                            </tr>
                            <tr>
                                <th>Duration:</th>
                                <td>{{ job.duration }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <div id="middle" style="float:right;">
                            <a class="btn btn-primary" href="{% url 'apply:detail' pk=job.id %}">View</a>
                        </div>

                    </li>
                    {% endfor here %}
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>