<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Internships</title>

    <link rel="stylesheet" type="text/css" href="{% static 'apply/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/tagsinput.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="{% static 'home/tagsinput.js' %}" type="text/javascript"></script>

</head>
<body background="{% static 'home/images/background_mobile.png' %}" style="background-position: center;background-repeat: no-repeat;background-size: cover;height:100%;width:100%;position: relative;
            /* Workaround for some mobile browsers */
            min-height:100vh;">
{% load widget_tweaks %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="#">
        <img src="/static/home/images/logo.png" width="200" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" style="padding-top: 100px;padding-bottom: 100px;">

    <div class="row">
        <div class="col-lg-8 mx-auto col-xs-12 col-sm-12">
            <a style="color: #000000;text-decoration:none;" data-toggle="collapse" href="#collapseExample" role="button"
               aria-expanded="false"
               aria-controls="collapseExample">
                <div class="card mt-4" style="padding: 10px;">
                    <h4>Filters<span style="float: right;"><strong>&#8628;</strong></span></h4>
                </div>
            </a>
        </div>
    </div>
    <div class="collapse" id="collapseExample">
        <div class="card card-body ">
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="category" class="control-label">Job Category:</label>
                    <input {% if job_category %} value="{{ job_category }}" {% endif %} id="category" name="category" class="form-control" data-role="tagsinput" >
                </div>
                <div class="form-group">
                    <label class="control-label">Job Type:</label>
                    {% render_field filters.form.job_type class="form-control" %}
                </div>
                <div class="form-group">
                    <label class="control-label">Intake:</label>
                    {% render_field filters.form.intake class="form-control" %}
                </div>
                <div class="form-group">
                    <label class="control-label">Duration:</label>
                    {% render_field filters.form.duration class="form-control" %}
                </div>
                <button type="submit" class="btn" style="background-color: #ff0066;color:white;float: right;">
                    <span>Filter</span>
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto col-xs-12 col-sm-12">
            <div class="card mt-4">
                <ul class="list-group">
                    {% if job_list %}
                    {% for job in job_list %}
                    <li class="list-group-item inline">
                        <div class="table-cell">
                            <h4><strong><a style="text-decoration: none;color: #ff0066;text-decoration: none;" href="{% url 'apply:detail' pk=job.id %}">{{ job.job_title }}</a></strong>
                            </h4>
                            <h6>
                                <a style="text-decoration: none;color: #ff0066;text-decoration: none;"
                                   href="{% if company.website %}{{ company.website }}{% endif %}">
                                    {{ job.company.name }}
                                </a>
                            </h6>
                        </div>
                        <div class="image-container" style="float: right;">
                            {% if company.logo %}
                                <img src="{{ company.logo.url }}" alt="{{ company.name }}">
                            {% endif %}
                        </div>
                        <table class="table no-border">
                            <tbody>
                            <tr>
                                <th>Category:</th>
                                <td>
                                    {% for category in categories %}
                                    {% for post in category.job_post.all %}
                                    {% if post.id == job.id %}
                                    <span class="badge badge-secondary">{{ category.job_category }}</span>
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Type:</th>
                                <td>{{ job.job_type }}</td>
                            </tr>
                            <tr>
                                <th>Salary:</th>
                                <td>{{ job.salary }}</td>
                            </tr>
                            <tr>
                                <th>Intake:</th>
                                <td>{{ job.intake }}</td>
                            </tr>
                            <tr>
                                <th>Duration:</th>
                                <td>{{ job.duration }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <div style="float:right;">
                            <a class="btn" style="color:white;background-color: #ff0066" href="{% url 'apply:detail' pk=job.id %}">View</a>
                        </div>

                    </li>
                    {% endfor %}
                    {% else %}
                    {% for job in filters.qs %}
                    <li class="list-group-item inline">
                        <div class="table-cell">
                            <h4><strong><a style="text-decoration: none;color: #ff0066;text-decoration: none;" href="{% url 'apply:detail' pk=job.id %}">{{ job.job_title }}</a></strong>
                            </h4>
                            <h6><a style="text-decoration: none;color: #ff0066;text-decoration: none;" href="#">{{ job.company.name }}</a></h6>
                        </div>

                        <table class="table no-border">
                            <tbody>
                            <tr>
                                <th>Category:</th>
                                <td>
                                    {% for category in categories %}
                                    {% for post in category.job_post.all %}
                                    {% if post.id == job.id %}
                                    <span class="badge badge-secondary">{{ category.job_category }}</span>
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Type:</th>
                                <td>{{ job.job_type }}</td>
                            </tr>
                            <tr>
                                <th>Salary:</th>
                                <td>{{ job.salary }}</td>
                            </tr>
                            <tr>
                                <th>Intake:</th>
                                <td>{{ job.intake }}</td>
                            </tr>
                            <tr>
                                <th>Duration:</th>
                                <td>{{ job.duration }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <div style="float:right;">
                            <a class="btn" style="color:white;background-color: #ff0066" href="{% url 'apply:detail' pk=job.id %}">View</a>
                        </div>

                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>