<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Applicant- Login</title>

    <link rel="stylesheet" type="text/css" href="{% static 'apply/styles.css' %}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body style="background-image: url('https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg');background-position: center; background-repeat: no-repeat;
background-size: cover; height:100%; width:100%; min-height:100vh;">

<div class="container vertical-align">
    <div class="col-sm-4 col-sm-offset-3 horizontal-align make-transparent" style="padding:30px;">
    <div class="panel panel-default " >
        <div class="panel-body">
            <center>
                <img src="http://sptbi.spit.ac.in/assets/img/logo.png" width="200" height="50" alt="">
            </center>
            <h3 style="margin-top:30px;color:white;">Login</h3>
            <h5 style="color:white;">
                <span>Not yet a user? </span>
                <a href="{% if request.GET.next %}{% url 'apply:register_user' %}?next={{ request.GET.next }}{% else %}{% url 'apply:register_user' %}{% endif %}">
                        Register
                    </a>
            </h5>
            <form class="form-horizontal" method="post" action="">
                {% csrf_token %}

                <div class="form-group">
                    <label class="control-label " for="email" style="color:white;margin-top:30px;">Email: </label>
                    <input class="form-control" type="email" id="email" name="email" required>
                </div>
                <div class="form-group" style="margin-top:30px;">
                    <label class="control-label " for="password" style="color:white;" >Password: </label>
                    <input class="form-control" type="password" id="password" name="password" required>
                </div>

                {% if error_message %}
                <p><span class="text-danger">{{ error_message }}</span></p>
                {% endif %}

                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
                <button type="submit" class="btn btn-primary" style="margin-top:30px;float:right;">Login</button>
            </form>
        </div>
    </div>
    </div>
</div>


</body>
</html>