{% extends 'home/base.html' %}
{% block title %}{{ student.user.first_name }} {{ student.user.last_name }}{% endblock %}
{% load staticfiles %}
{% block body %}
<!--suppress ALL -->
<div class="container emp-profile" style="padding-top: 100px;padding-bottom: 100px;">
    <div class="row" style="margin-top:50px;">
        <div class="col-md-4 col-xs-4">
            <center>
                <div class="image-container" style="height:300px;width:300px;">
                    {% ifequal student.photo 'False' %}
                    <img src="/static/home/images/default.png" style="height:100%;width:100%;">
                    {% else %}
                    <img src="{{ student.photo.url }}" style="height:100%;width:100%;">
                    {% endifequal %}
                </div>
            </center>
        </div>
        <div class="col-md-8 col-xs-8">
            <div class="profile-head">
                <h4 style="margin-bottom: 20px; margin-top: 20px;">
                    {{ student.user.first_name }} {{ student.user.last_name }}
                </h4>
                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a style="color: #000000;text-decoration:none;" class="nav-link active" id="home-tab"
                           data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">About</a>
                    </li>
                    {% if isSelf %}
                    <li class="nav-item">
                        <a style="color: #000000;text-decoration:none;" class="nav-link" id="profile-tab"
                           data-toggle="tab" href="#profile" role="tab"
                           aria-controls="timeline" aria-selected="false">Timeline</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #000000;text-decoration:none;" class="nav-link" id="messages-tab"
                           data-toggle="tab" href="#messages" role="tab"
                           aria-controls="messsges" aria-selected="false">Messages</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #000000;text-decoration:none;" class="nav-link" id="edit-profile"
                           href="{% url 'apply:edit_profile' %}">Edit Profile</a>
                    </li>
                    {% endif %}
                </ul>
            </div>


            <div class="col-md-12 col-xs-12" style="margin-top:20px;">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <label><strong>Name:</strong></label>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <p>{{ student.user.first_name }} {{ student.user.last_name }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <label><strong>Email:</strong></label>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <p>{{ student.user.email }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <label><strong>Phone:</strong></label>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <p>{{ student.phone_number }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <label><strong>Qualification:</strong></label>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <p>{{ student.qualification }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <label><strong>Interests:</strong></label>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                {% for interest in interests %}
                                <span class="badge" style="background-color: #ff0066;color: white;">{{ interest.interest }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-6 col-xs-6">
                                <label><strong>City:</strong></label>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <p>{{ student.current_city }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <label><strong>Address:</strong></label>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <p>{{ student.address }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <label><strong>Resume:</strong></label>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <a href="{{ student.resume.url }}">Resume</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <ul class="list-group">
                                    {% for application in applications %}
                                    <a style="color: #ff0066;text-decoration: none;"
                                       href="{% url 'apply:detail' pk=application.post.id %}">
                                        <li class="list-group-item">
                                            <strong>{{ application.post.job_title }}</strong>
                                        </li>
                                    </a>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <ul class="list-group">
                                    {% for application in applications %}
                                    <li class="list-group-item">
                                        <a style="color: #ff0066;text-decoration: none;" data-toggle="collapse"
                                           href="#collapse{{ application.id }}">
                                            <strong>
                                                {{ application.post.company.name }}- {{ application.post.job_title }}
                                            </strong>
                                        </a>
                                        <div class="panel-collapse collapse" id="collapse{{ application.id }}">
                                            <ul class="list-group" style="width: 100%;">
                                                {% for message in messages %}
                                                {% if message.application == application %}
                                                <li class="list-group-item">
                                                    <h6>
                                                        {{ message.sender.first_name }}
                                                        <small>{{ message.datetime }}</small>
                                                    </h6>
                                                    <p>{{ message.message }}</p>
                                                </li>
                                                {% endif %}
                                                {% endfor %}
                                                <li class="list-group-item">
                                                    <form class="form-horizontal" role="form" method="post"
                                                          enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <textarea class="form-control" name="message"
                                                                  placeholder="Message" required></textarea>
                                                        <input type="hidden" name="id" value="{{ application.id }}">
                                                        <br>
                                                        <button type="submit" class="btn btn-success"
                                                                style="float: right;">
                                                            Send
                                                        </button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}