<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Company- Edit Profile</title>

    <link rel="stylesheet" type="text/css" href="{% static 'hire/styles.css' %}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body background="{% static 'home/images/background.jpeg' %}" style="background-position: center; background-repeat: no-repeat;
background-size: cover; height:100%; width:100%; min-height:100vh;">
{% load widget_tweaks %}

<div class="container vertical-align">
    <div class="col-sm-6 col-sm-offset-3 col-md-6 horizontal-align make-transparent"
         style="margin-top:30px;margin-bottom:30px;padding:40px;">
        <div class="panel panel-default">
            <div class="panel-body">

                <h2 style="color:white;margin-top:30px;">Edit Profile</h2>

                <p><span class="text-danger small">All fields are mandatory.</span></p>
                <form class="form-horizontal" method="post" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label" style="color:white;">{{ form.name.label_tag }}</label>
                        {% render_field form.name class="form-control"%}
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="color:white;">{{ form.website.label_tag }}</label>
                        {% render_field form.website type="url" class="form-control" %}
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="color:white;">{{ form.phone_number.label_tag }}</label>
                        {% render_field form.phone_number class="form-control" %}
                    </div>
                    <div class="form-group" style="color:white;">
                        <label class="control-label" style="color:white;">{{ form.logo.label_tag }}</label>
                        {% render_field form.logo type="file" accept="image/jpeg, image/png" style="color:white;" %}
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="color:white;">{{ form.description.label_tag }}</label>
                        {% render_field form.description class="form-control" %}
                    </div>
                    {% if error_message %}
                    <p><span class="text-danger">{{ error_message }}</span></p>
                    {% endif %}
                    <a style="text-decoration: none;" href="{% url 'home:change_password' %}">Change Password</a>

                    <center>
                        <button type="submit" class="btn btn-block" style="background-color: #ff0066;color: white;margin-top:30px;">Save</button>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>