<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Post- Edit</title>

    <link rel="stylesheet" type="text/css" href="{% static 'hire/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/tagsinput.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="{% static 'home/tagsinput.js' %}" type="text/javascript"></script>

</head>
<body background="{% static 'home/images/background.jpeg' %}" style="background-position: center; background-repeat: no-repeat;
background-size: cover; height:100%; width:100%; min-height:100vh;">
{% load widget_tweaks %}
<div class="container vertical-align">
    <div class="col-sm-6 col-sm-offset-3 col-md-6 horizontal-align make-transparent" style="margin-top:30px;margin-bottom:30px;padding:30px;">
        <div class="panel panel-default">
            <div class="panel-body" style="color: white">
                <h2 style="margin-top:30px;">Post Opportunity</h2>

                <form class="form-horizontal" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="control-label" >{{ form.job_title.label_tag }}</label>
                        {{ form.job_title }}
                    </div>
                    <span class="text-danger small">{{ form.job_title.errors }}</span>

                    <div class="form-group">
                        <label class="control-label" for="job_category">Job Category:</label>
                        <input type="text" id="job_category" name="job_category" class="form-control" data-role="tagsinput"
                               value="{% for category in categories %}{{ category.job_category }},{% endfor %}"
                               required>
                    </div>

                    <div class="form-group">
                        <label class="control-label" >{{ form.job_type.label_tag }}</label>
                        {{ form.job_type }}
                    </div>
                    <span class="text-danger small">{{ form.job_type.errors }}</span>

                    <div class="form-group">
                        <label class="control-label" >{{ form.salary.label_tag }}</label>
                        {{ form.salary }}
                    </div>
                    <span class="text-danger small">{{ form.salary.errors }}</span>

                    <div class="form-group">
                        <label class="control-label" >{{ form.intake.label_tag }}</label>
                        {{ form.intake }}
                    </div>
                    <span class="text-danger small">{{ form.intake.errors }}</span>

                    <div class="form-group">
                        <label class="control-label" >{{ form.duration.label_tag }}</label>
                        {{ form.duration }}
                    </div>
                    <span class="text-danger small">{{ form.duration.errors }}</span>

                    <div class="form-group">
                        <label class="control-label" >{{ form.description.label_tag }}</label>
                        {{ form.description }}
                    </div>
                    <span class="text-danger small">{{ form.description.errors }}</span>

                    <div class="form-group">
                        <label class="control-label" >{{ form.other_requirements.label_tag }}</label>
                        {{ form.other_requirements }}
                    </div>
                    <span class="text-danger small">{{ form.other_requirements.errors }}</span>

                    <div class="form-group">
                        <label class="control-label" >{{ form.perks.label_tag }}</label>
                        {{ form.perks }}
                    </div>
                    <span class="text-danger small">{{ form.perks.errors }}</span>

                    {% if error_message %}
                    <p><span class="text-danger">{{ error_message }}</span></p>
                    {% endif %}

                    <center>
                        <button type="submit" class="btn btn-block" style="background-color:#ff0066;color:white;margin-top:30px;">Save</button>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>