{% extends 'home/base.html' %}
{% block title %}{{ company.name }}{% endblock %}

{% block body %}
<!--suppress ALL -->
<div class="container emp-profile" style="padding-top: 100px;padding-bottom: 100px;">
    <div class="row" style="margin-top:50px;">
        <div class="col-md-4 col-xs-4">
            <center>
                <div class="image-container" style="height:200px;width:300px;">
                    {% if company.logo == 'False' %}
                    <img src="/static/home/images/company_default.png" style="height:100%;width:100%;">
                    {% else %}
                    <img src="{{ company.logo.url }}" style="height:100%;width:100%;">
                    {% endif %}
                </div>
            </center>
        </div>

        <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="profile-head">
                <h4 style="margin-top: 20px;">
                    {{ company.name }}
                </h4>
                <h6 style="margin-bottom: 20px;"><a href="{{ company.website }}">{{ company.website }}</a> </h6>
                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a style="color: #000000;text-decoration:none;" class="nav-link active" id="home-tab"
                           data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">About</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #000000;text-decoration:none;" class="nav-link" id="profile-tab"
                           data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-selected="false">Timeline</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #000000;text-decoration:none;" class="nav-link" id="applicants-tab"
                           data-toggle="tab" href="#applications" role="tab"
                           aria-controls="application" aria-selected="false">Applications</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #000000;text-decoration:none;" class="nav-link" id="shortlist-tab"
                           data-toggle="tab" href="#shortlist" role="tab"
                           aria-controls="shortlist" aria-selected="false">Shortlist</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #000000;text-decoration:none;" class="nav-link"
                           href="{% url 'hire:post_job' %}">Post</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #000000;text-decoration:none;" class="nav-link"
                           href="{% url 'hire:edit_profile' %}">Edit Profile</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-12 col-xs-12" style="margin-top:20px;">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <label><strong>Name:</strong></label>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <p style="text-align:justify;">{{ company.name }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <label><strong>Email:</strong></label>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <p style="text-align:justify;">{{ company.user.email }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <label><strong>Phone:</strong></label>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <p style="text-align:justify;">{{ company.phone_number }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <label><strong>About:</strong></label>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <p style="text-align:justify;">{{ company.description }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <ul class="list-group">
                                    {% for job in jobs %}
                                    <li class="list-group-item">
                                        <strong>
                                            <a style="color: #ff0066;text-decoration: none;"
                                               href="{% url 'apply:detail' pk=job.id %}">{{ job.job_title }}
                                            </a>
                                        </strong>
                                        <a href="{% url 'hire:edit_post' pk=job.id %}" style="float: right;">
                                            <img src="/static/hire/images/edit.png"
                                                 style="float: right;margin-left: 10px;" alt="edit">
                                        </a>
                                        <a href="{% url 'hire:delete_post' pk=job.id %}" style="float: right;">
                                            <img src="/static/hire/images/delete.png" style="float: right;"
                                                 alt="delete">
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="applications" role="tabpanel" aria-labelledby="applicants-tab">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <ul class="list-group">
                                    {% for application in applications %}
                                    {% if application %}
                                    {% with application|first as application_first %}
                                    <li class="list-group-item">
                                        <strong>
                                            <a data-toggle="collapse" style="color: #ff0066;text-decoration: none;"
                                               href="#{{ application_first.post.id }}">
                                                {{ application_first.post.job_title }}
                                            </a>

                                        </strong>

                                        <div id="{{ application_first.post.id }}" class="panel-collapse collapse">
                                            <ul class="list-group">
                                                {% for applicant in application %}
                                                <li class="list-group-item">
                                                    <strong>
                                                        <a style="color: #ff0066;text-decoration: none;"
                                                           href="{% url 'apply:profile' pk=applicant.student.id %}">
                                                            {{ applicant }}
                                                        </a>
                                                        <a href="{% url 'hire:shortlist' applicant.id %}"
                                                           style="float: right;">
                                                            <img src="/static/hire/images/shortlist{% if applicant.is_shortlisted %}ed{% endif %}.png"
                                                                 width="30%"
                                                                 height="30%" style="float: right;" alt="shortlist">
                                                        </a>
                                                    </strong>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                    {% endwith %}
                                    {% endif %}
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="shortlist" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <ul class="list-group">
                                    {% for application in applications %}
                                    {% if application %}
                                    {% with application|first as first_application %}
                                    <li class="list-group-item">
                                        <strong>
                                            <a data-toggle="collapse"
                                               style="color: #ff0066;text-decoration: none;"
                                               href="#collapse{{ first_application.post.id }}">
                                                {{ first_application.post.job_title }}
                                            </a>

                                        </strong>

                                        <div id="collapse{{ first_application.post.id }}"
                                             class="panel-collapse collapse">
                                            <ul class="list-group">
                                                {% for applicant in application %}
                                                {% if applicant.is_shortlisted %}
                                                <li class="list-group-item">
                                                    <strong>
                                                        <a style="color: #ff0066;text-decoration: none;"
                                                           href="{% url 'apply:profile' pk=applicant.student.id %}">
                                                            {{ applicant }}
                                                        </a>
                                                        <a href="{% url 'hire:shortlist' applicant.id %}"
                                                           style="float: right;">
                                                            <img src="/static/hire/images/shortlist{% if applicant.is_shortlisted %}ed{% endif %}.png"
                                                                 width="30px"
                                                                 height="30px" style="float: right;margin-left: 10px;"
                                                                 alt="shortlist">
                                                        </a>
                                                        <a href="#message{{ applicant.id }}" data-toggle="collapse"
                                                           style="float: right;">
                                                            <img src="/static/hire/images/message.png"
                                                                 style="float: right;" alt="message">
                                                        </a>
                                                    </strong>

                                                    <div id="message{{ applicant.id }}"
                                                         class="panel-collapse collapse">
                                                        <ul class="list-group" style="width: 100%;">
                                                            {% for message in messages %}
                                                            {% if message.application == applicant %}
                                                            <li class="list-group-item">
                                                                <h6>
                                                                    {{ message.sender.first_name }}
                                                                    <small>{{ message.datetime }}</small>
                                                                </h6>
                                                                <p>{{ message.message }}</p>
                                                            </li>
                                                            {% endif %}
                                                            {% endfor %}
                                                            <li class="list-group-item">
                                                                <form class="form-horizontal" role="form" method="post"
                                                                      enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                    <textarea class="form-control" name="message"
                                                                              placeholder="Message" required></textarea>
                                                                    <input type="hidden" name="id"
                                                                           value="{{ applicant.id }}">
                                                                    <br>
                                                                    <button type="submit" class="btn btn-success"
                                                                            style="float: right;">
                                                                        Send
                                                                    </button>
                                                                </form>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </li>
                                                {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                    {% endwith %}
                                    {% endif %}
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}