<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sign Up</title>

    <link rel="stylesheet" type="text/css" href="{% static 'apply/styles.css' %}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<div class="container vertical-align">
    <div class="col-sm-6 col-sm-offset-3 col-md-6 horizontal-align make-transparent" style="margin-top:30px;margin-bottom:30px;padding:30px;">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 style="margin-top:30px;">Post Opportunity</h2>

                <form class="form-horizontal" method="post" action="{% url 'hire:post_job' %}">
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="form-group">
                        <label class="control-label" >{{ field.label_tag }}</label>
                        {{ field }}
                    </div>
                    <span class="text-danger small">{{ field.errors }}</span>
                    {% endfor %}

                    {% if error_message %}
                    <p><span class="text-danger">{{ error_message }}</span></p>
                    {% endif %}

                    <center>
                        <button type="submit" class="btn btn-success" style="margin-top:30px;">Post</button>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>